.bu1{
    background-color: blue;
    color: rgb(211, 24, 34);
    width: 100px;
    height: 100px;
    font-size: large;
    border-color: black;
    border-width: 10px;
    border-radius: 149px;
    cursor: pointer;}
 .bu2 {
    background-color: blue;
    color: rgb(211, 24, 34);
    width: 100px;
    height: 100px;
    font-size: large;
    border-color: black;
    border-width: 10px;
    border-radius: 149px;
    cursor: pointer;}
 .bu3 {
    background-color: blue;
    color: rgb(211, 24, 34);
    width: 100px;
    height: 100px;
    font-size: large;
    border-color: black;
    border-width: 10px;
    border-radius: 149px;
    cursor: pointer;}
    
    
 
 div{
    background-color: brown;
    color: black;  
    text-align: center;
    border-radius: 100px;
    cursor: pointer;

 }

 
 .body{
    background-color: black;
    
    
 }
 .tt3,.tt2,.h1{
    background-color: black;
    color: blueviolet;
    border-radius: 12px;
    border-width: 10px;
    cursor: pointer;
    


 }
 .victor4 {
    background-color: rgb(204, 223, 159);
 }
 .get{
    color: rgb(206, 11, 21);
    background-color: blue;
    border-radius: 10px;
    width: 400px;
 }
 
 